@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
  --pink:#FF046F;
  --violet:#C63BFA;
}

*{
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0; padding: 0;
  box-sizing: border-box;
}

*::selection{
  background:var(--pink);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading{
  font-size: 4rem;
  text-align: center;
  padding:0 1rem;
  padding-top: 4.5rem;
  margin-left: 20%;
  margin-right: 20%;
  letter-spacing: .2rem;
  font-weight: 500;

  
   
  /* for glass style card */
  background: rgba( 255, 255, 255, 0.2 );

   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title{
  padding:0 1rem;
  padding-top: 15px;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  
 
}

/************************************************************************** HEADER SECTION START ******************************************************************************************/


header{
  width:96%;
  background:#fff;
  position: fixed;
  top: 2rem;
  left:50%;
  transform: translateX(-50%);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem 2rem;
  z-index: 1;
  transition: .1s;
 
   
  /* for glass style card */
  background: rgba( 255, 255, 255, 0.3 ); /* original */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/* for menu bars rotation */
header .fa-times{
  transform: rotate(180deg);
  color:black;
}
 

.header-active{
  top:0;
  width: 100%;
  border-radius: 0;
 
  
  /* for glass style card */
  background: rgba( 255, 255, 255, 0.3 ); /* original */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
 }

header .navbar ul{
  display: flex;
  align-items: center;
   border-radius: 0px;
  list-style:none;  
 
}

header .navbar ul li{
  margin:0 1rem;


 
}

header .navbar ul li a{
  font-size: 2rem;
  color:black;
  transition: .2s;

  
  
}
  
header .navbar ul li .active,
header .navbar ul li a:hover{
  color:black;
  padding:1.1rem 0rem;

   
 /* for glass style card */
background: rgba(226, 225, 224, 0.487);

box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 0px;
 
  
 
}

/* for logo at top left corner */
header .logo{
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase; /* changes all leters to capital */

   
}
 
header .logo i{
  color:white;
  
}
header .logo i:hover{
  color: orangered;
}

header .fa-bars{
  font-size: 3rem;
  color:white;
  cursor: pointer;
  display: none;
  transition: .2s;
    
}
header .fa-bars:hover{
  color: orangered;

}

/***************************************************************************************** HEADER SECTION END **********************************************************************/

/* HOME SECTION START ************************************************************************************************************************************************************/
.home{
  min-height: 100vh;
  /* home background image */
  background-image: url(https://images.pexels.com/photos/1279813/pexels-photo-1279813.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow:hidden;
  position: relative;
}

.home .content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 14rem;
  padding-bottom: 8rem;
  text-align: center;
}

.home .content h1{
  font-size: 5rem;
  color: #fff;
  padding:0 1rem;
  text-transform: uppercase;
  width:60%;
  
  /* for glass style card */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );;
}

.home .content h1:hover{
  background: rgba(192, 15, 236, 0.441);

 }
 

.home .content p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color:black;
  padding:1rem 25rem;
}

.home .content button{
  height:4rem;
  width:20rem;
  border-radius: 5rem;

   color:black;
  font-size: 2rem;
  cursor: pointer;
  transition: .2s;
  border:none;

  /* for glasss style card */
background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.home .content button:hover{
  letter-spacing: .2rem;
  background: rgba(228, 112, 17, 0.416);

}

.home .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home .box-container .box{
  height:20rem;
  width:25rem;
   
  text-align: center;
  border-radius:5px;
 
  margin: 2rem;
  cursor: pointer;
 
  /*for glass style card */
  background: rgba( 255, 255, 255, 0.3 );  /* redlevel greenlevel bluelevel alpha/opacity level */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.home .box-container .box:hover{
  
  background: rgba(228, 112, 17, 0.416);
  
}
.home .box-container .box i{
  height:6rem;
  width:6rem;
  line-height: 6rem;
  text-align: center;
  border-radius: 50%;
  color:white;
  font-size: 3rem;
  margin:2rem 0;
  transition: .2s;
  background-color: rgb(21, 19, 19);
}

.home .box-container .box h3{
  font-size: 2rem;
  color:black;
  transition: .2s;
}

.home .box-container .box p{
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  padding:.7rem 2rem;
  color:black;
}

.home .box-container .box:hover i{
  color:black;
  background-color: white;
}

.home .box-container .box:hover h3{
  color:black;
}

.home::before{
  content: '';
  position: absolute;
  bottom:-25rem; left:50%;
  transform: translateX(-50%);
  border-top: 70vh solid #fff;
  width:120%;
  border-radius: 50%;
  z-index: -1;
}

/*** HOME SECTION END **************************************************************************************************************************************************************/

/*** ABOUT SECTION START ***********************************************************************************************************************************************************/
.about{
  background-color: orangered;
  
}
.about .row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .row .image img{
  height:70vh;
  width:50vw;
  margin:20px;
  border-radius:20px;
}

.about .row .content{
  padding-left: 5rem;
}

.about .row .content h3{
  font-size: 3rem;
  color: white;

   
  
}

.about .row .content p{
  font-size: 1.6rem;
  color:rgb(36, 28, 36);
  padding:1rem 0;
  font-weight:bold;
}

.about .row .content button{
  height:3.5rem;
  width:17rem;
  background:white;
  color:black;
  border:none;
  border-radius: 5rem;
  box-shadow: 0 .3rem 1rem rgba(0,0,0,.3);
  cursor: pointer;
  font-size: 2rem;
  transition: .2s;
  

  /* for glass style card */
  background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.learn-more{
  margin-bottom: 20px;

}

.about .row .content button:hover{
  letter-spacing: .2rem;
  opacity: .8;
  
}

/*** ABOUT SECTION END *********************************************************************************************************************************************************/


/*** TEACHER SECTION START ****************************************************************************************************************************************************/
.teacher{
  background: #7771eb;
}

.teacher .card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:2rem 0;
}
 
.teacher .card-container .card{
  padding:2rem;
  margin: 2rem;
  background: white;
  text-align: center;
  width:28rem;
 
/* for glass style card */  
background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.teacher .card-container .card:hover{
  background: rgba(223, 31, 204, 0.605);
}

.teacher .card-container .card img{
  height:30rem;
  width:100%;
  object-fit: cover;
  transition: .2s;

 
 }

.teacher .card-container .card:hover img{
  filter: grayscale(); /* removes color */
  cursor: pointer;
 
}

.teacher .card-container .card h3{
  color:white;
  font-size: 2rem;
  padding:.5rem 0;
   

  
}

.teacher .card-container .card p{
  font-size: 1.7rem;
  color:black;
   font-weight: bold;
   
}

.teacher .card-container .card .icons a{
  font-size: 1.9rem;
  padding:1.5rem .5rem;
  color:var(--pink);
  color:white;
 }

.teacher .card-container .card .icons a:hover{
  color:black;
  
}

/*** TEACHER SECTION END *********************************************************************************************************************************************************/

/*** COURSE SECTION START ********************************************************************************************************************************************************/

.course{
  background-color:#2df126 ;

 
}
.course .box-container{
  width:85%;
  display: flex;
  justify-content: center;
  margin:0 auto;
  padding-top: 4rem;
  flex-wrap: wrap;
}

.course .box-container .box{
  height:18rem;
  width:25rem;
  margin:3.5rem 2rem;
  text-align: center;
   
  /* for glass style card */ 
background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  
}
.course .box-container .box:hover{
  cursor:pointer;
  background-color:#68e36c ;
  background: rgba(247, 247, 247, 0.685);
}
 
.course .box-container .box i{
  height:10rem;
  width:10rem;
  line-height: 10rem;
  text-align: center;
  color:white;
  border-radius: 50%;
  margin-top: -4rem;
  box-shadow: 0 0 0 1rem white inset;
  font-size: 3.5rem;
  opacity:0.9;  
   
}

.course .box-container .box h3{
  font-size: 2rem;
  color:  orangered;
}

.course .box-container .box p{
  font-size: 1.9rem;
  font-style:inherit;
  color:black;
  padding:1rem 0;
}

/*** COURSE SECTION END **************************************************************************************************************************************************/

/*** REVIEW SECTION START ***********************************************************************************************************************************************/

.review{
  background:#ed0ce9;
  width:100%;
  height:900px;
  
 }
 .heading{
  color:white;
 }
.title{
  color:black;
}
.review .box-container{
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  flex-wrap: wrap;
   background-color:  #ed0ce9; 
  
}

.review .box-container .box{
  width:28rem;
  padding-bottom: 1rem;
  text-align: center;
  background:white;
  margin:4rem 2rem;
  border-radius: 10px;
  cursor: pointer;

/* for glass style card */   
background: rgba( 255, 255, 255, 0.8 ); /* original */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit--backdrop-filter: blur( 6.5px ); /* webkit is a browser engine. here  used for ensuring the features working or not */
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

    
}

/* for glass style card */
.review .box-container .box:hover{
background: rgba( 255, 255, 255, 0.9 ); /* original */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.review .box-container .box img{
  height:8.5rem;
  width:8.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -4rem;
}

.review .box-container .box h3{
  font-size: 2rem;
  color:#ed0ce9;
  padding:0 .5rem;

}

.review .box-container .box p{
  font-size: 1.9rem;
  color:black;
  padding:0 1.3rem;
}

.review .box-container .box .stars i{
  font-size: 1.6rem;
  color: var(--violet);
  padding:1.3rem .1rem;
}

/********* REVIEW SECTION END ***************************************************************************************************************************************************/

/******* CONTACT SECTION START ************************************************************************************************************************************************/

.contact{
  background:black;
 }

.contact .row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5rem 0;
}

.contact .row .image img{
  width: 45vw;
  height:70vh;
   
  padding-right:30px;
  padding-left: 30px;
  

   
}
 

.contact .row .form-container{
  width:50%;
  padding-right: 6rem;
}

.contact .row .form-container input, textarea{
  height:4rem;
  width:100%;
  background:#fff;
  border:none;
  border-radius: 5rem;
  padding:0 1rem;
  margin:1rem 0;
  color: red;
  font-size: 1.7rem;
  transition: .2s linear;
}

.contact .row .form-container input:focus, textarea:focus{
  border:.2rem solid var(--pink);
}

.contact .row .form-container textarea{
  height:20rem;
  border-radius: 1rem;
  padding:1rem; 
  resize: none;
}

.contact .row .form-container input[type="submit"]{
  width:17rem;
   
  color:#fff;
  cursor: pointer;
  font-size: 2rem;
  transition: .2s;
  
 

/* for glass style card */  
background: rgba( 255, 255, 255, 0.3 ); /* original */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contact .row .form-container input[type="submit"]:hover{
 background: white;
 color: black;
   
 
}

/***** CONTACT SECTION END ***********************************************************************************************************************************************/

/***** FOOTER SECTION START ***********************************************************************************************************************************************/

.footer{
  text-align: center;
  background-color:  #cf0ced;
}

.footer .icons{
  padding:3rem 0;
}

.footer .icons a{
  height:4.5rem;
  width: 4.5rem;
  line-height: 4.2rem;
  text-align: center;
  border-radius: 50%;
  color:white;
  border:.2rem solid white;
  font-size: 2rem;
  margin:0 .1rem;
  transition: .2s linear;


/* for glass style card */  
background: rgba( 255, 255, 255, 0.3 ); /* original */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.footer .icons a:hover{
  color:#fff;
  background: black;
  background: rgba(211, 112, 59, 0.88); /* original */

 }


.footer .credit{
  font-size: 2rem;
  border-top: .1rem solid white;
  margin:0 auto;
  margin-bottom: 2rem;
  color:white;
  width:90%;
  padding:1rem 0;
}

.footer .credit span{
  color: black;
 
  
/* for glass style card */  
background: rgba( 255, 255, 255, 0.3 ); /* original */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/********* FOOTER SECTION END ******************************************************************************************************************************/



 

 
/*********** MEDIA QUERIES START **********************************************************************************************************/

@media (max-width:768px){

  html{
    font-size: 55%;
  }

  header .fa-bars{
    display: block;
  }

  header .navbar{
    position: fixed;
    top:-100rem; left:0;
    width:100%;
    border-radius: 1rem;
    opacity: 0;
    transition: .2s linear;

    }

  header .navbar ul{
    flex-flow: column;
    padding:2rem 0;
 
  /* for glass style navbar list */
  background: rgba( 255, 255, 255, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  header .navbar ul li{
    width:100%;
    text-align: center;
    
  }

  header .navbar ul li a{
    font-size: 3rem;
     display: block;
    
  }

  header .nav-toggle{
    top:5.5rem;
    opacity:1;
  }

  .home .content p{
    padding:1.5rem 2rem;
  }

  .home::before{
    display: none;
  }

  .about .row{
    flex-flow: column-reverse;
  }

  .about .row .image img{
    height:60vh;
    width:90vw;
  }

  .about .row .content{
    padding:0 2.5rem;
  }

  .course .box-container{
    width:100%;
    
  }

  .contact .row{
    flex-flow: column;
  }

  .contact .row .image img{
    height:50vh;
    width:90vw;
  }

  .contact .row .form-container{
    width:90%;
    padding:0;
  }
}

/**** MEDIA QUERIREIS END *****************************************************************************************************************/